body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.background {
  background-image: url("../images/the-flatiron-building.png");
background-repeat: no-repeat;
  background-position-y: bottom;
  color: white;
}

.background a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.footer a {
  color: white;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

#process h2 {
  font-size: 32px;
}

.background h2 {
  font-size: 23px;
}

h3 {
  font-size: 23px;
}

#process p,
.informations p {
  font-size: 14px;
}

.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
