body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.background {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-origin: padding-box;
  color: white;
}

ul {
  list-style: none;
}

a {
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
